<ul class="nav nav-pills justify-content-center my-4">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/"
      >Home</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/movies"
      >Movies</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/cinemas"
      >Cinemas</a
    >
  </li>
</ul>
