<div class="container">
  <div class="row">
    <div class="col-12">
      <app-nav></app-nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul class="list-group d-flex align-items-center">
        <li class="list-group-item" *ngFor="let movie of movies">
          <div class="card m-3" style="max-width: 540px;">
            <div class="row">
              <div class="col-md-4">
                <img
                  src="{{ movie.poster }}"
                  class="card-img"
                  alt="{{ movie.title }}"
                />
              </div>
              <div class="col-md-8 d-flex align-items-center">
                <div class="card-body text-center">
                  <h5 class="card-title">{{ movie.title }}</h5>
                  <a href="#" class="btn btn-primary">Movie Info</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- <h1>Principle Code Challenge</h1>
    
<button
  *ngIf="false"
  class="btn btn-primary"
  [ngClass]="{ 'new-class': items.length, default: !items.length }"
>
  Hello
</button>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of items">{{ item }}</li>
</ul> -->
